<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <style>
      html { box-sizing: border-box; }
      html, body { background: #000; overflow: hidden; -ms-touch-action: none; touch-action: none; }
      * { margin: 0; padding: 0; }
      *, *:before, *:after { box-sizing: inherit; }
    </style>
  </head>

  <body>

  <div id=version></div>

    <!-- app scripts will be injected here automatically -->
    
  
  </body>

</html>
